@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color : #20262E;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 3px;
}

.transition-in {
    @apply transition-all ease-in;
}

.shadow-primary {
    @apply shadow-[0_8px_40px_-8px_rgba(110,105,216,.6)]
}

.shadow-secondary {
    @apply shadow-[0_8px_40px_-8px_rgba(255,91,143,.6)];
}

.shadow-tertiary {
    @apply shadow-[0_8px_40px_-8px_rgba(188,111,241,.6)];
}

.active-primary {
    @apply before:transition-all before:ease-out relative before:absolute before:h-[2px] before:w-full before:left-0 before:bg-primary-light before:-bottom-2 before:opacity-0 hover:before:opacity-100 hover:before:-bottom-1;
}

.active-secondary {
    @apply before:transition-all before:ease-out relative before:absolute before:h-[2px] before:w-full before:left-0 before:bg-secondary-light before:-bottom-2 before:opacity-0 hover:before:opacity-100 hover:before:-bottom-1;
}

.active-tertiary {
    @apply before:transition-all before:ease-out relative before:absolute before:h-[2px] before:w-full before:left-0 before:bg-tertiary-light before:-bottom-2 before:opacity-0 hover:before:opacity-100 hover:before:-bottom-1;
}


@font-face {
    font-family : "AssetsLato";
    src: url("../assets/fonts/Lato.ttf");
}

@font-face {
    font-family : "AssetsPoppins";
    src: url("../assets/fonts/Poppins.ttf");
}

@font-face {
    font-family : "AssetOswald";
    src: url("../assets/fonts/Oswald.ttf");
}